<%- include('header'); -%>

    <body>
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>
            </h1>
        </div>
        <div class="box">

            <% for (var i=0; i < task.length; i++) { %>
                <div class="checkbox item">
                    <input type="checkbox">
                    <p>
                        <%= task[i] %>
                    </p>
                </div>
                <% } %>

                    <form class="item" action="/" method="POST">
                        <input name="task" type="text" placeholder="New Item" autofocus autocomplete="off" required>
                        <button type="submit" name="button" value=<%=listTitle %> >+</button>
                    </form>

        </div>

    </body>
    <%- include('footer'); -%>

        </html>